body {
    text-align: center;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    width: 14rem;
    height: 13rem;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.id {
    color: orange;
}

.wel {
    text-align: center;
    background-color: teal;
    width: 100%;
    color: whitesmoke;
}


.img{
    /* height: 30%; */
    width: 50%;
    /* position: absolute; */
    text-align: center;
   border-radius: 10px;
   margin: 5px;
   cursor: pointer;
 
}
.img:hover{
    transform: rotate3d(360deg);
}