.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    width: 14rem;
    height: 13rem;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}